@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tun Syed Nasir (TSN) residential college is one of residential college in University Tun Hussein Onn Malaysia (UTHM). 
    It is also the oldest residential college in UTHM. <br/>Each end of semester, TSN provide a room as a storage for student
    to put their belonging. Feel free to use our inventory service by registering items using our website. 
   <br/>We can assure you that your items will be secure.</p>
