@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kolej Kediaman tun Syed Nasir,<br />
    Universiti Tun Huessein Onn Malaysia,<br />
    86400 Parit Raja, Batu Pahat, Johor<br />
    <abbr title="Phone">P:</abbr>
    07-453 7893
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/kktsn/">facebook.com/kktsn</a><br />
    <strong>KKTSN@UTHM:</strong> <a href="https://kolejkediaman.uthm.edu.my/v1/index.php/kolej-kediaman/kolej-tun-syed-nasir">kolejkediaman.uthm.edu.my</a>
</address>